@media (max-width: 74em) {
  html {
    font-size: 56.25%;
  }

  .section {
    padding: 4.8rem 0 3.2rem;
  }

  .heading-secondary {
    margin-bottom: 4rem;
  }

  .btn {
    font-size: 1.8rem;
  }

  .nav-list {
    gap: 3.2rem;
  }

  .testimonials-section {
    grid-template-columns: 60fr 40fr;
  }

  .testimonials-container {
    padding: 6.4rem;
  }

  .testimonials {
    column-gap: 6.4rem;
    row-gap: 4.8rem;
  }

  .gallery-list {
    grid-template-columns: 1fr 1fr;
  }

  .plan-item {
    gap: 1.4rem;
  }

  .features-text {
    font-size: 1.6rem;
  }

  .cta-form-input,
  .cta-form-select {
    font-size: 1.6rem;
  }

  .cta-section {
    padding-bottom: 9.6rem;
  }

  .footer {
    padding: 9.6rem 0;
  }

  .footer-container {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
    column-gap: 4rem;
  }

  .address {
    margin-bottom: 4rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 61em) {
  html {
    font-size: 50%;
  }

  .btn {
    width: fit-content;
  }

  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    row-gap: 8rem;
    padding: 0 8rem;
  }

  .btn-container {
    margin-bottom: 4.8rem;
    justify-content: center;
    gap: 3.6rem;
  }

  .customers {
    justify-content: center;
  }

  .company-logo {
    height: 2rem;
  }

  .app-image-box {
    width: 35%;
  }

  .testimonials-section {
    grid-template-columns: 1fr;
  }

  .gallery-list {
    grid-template-columns: repeat(6, 1fr);
  }

  .meals {
    column-gap: 3.6rem;
  }

  .meal-content-box {
    padding: 2.4rem 3.2rem 3.2rem;
  }

  .meal-parameters-item {
    font-size: 1.8rem;
  }

  .gallery-list {
    padding: 1.6rem;
    gap: 1.6rem;
  }

  .pricing-plan--full::after {
    top: 4.5%;
    font-size: 1.6rem;
  }

  .features-list {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }

  .features-item {
    width: 70%;
    text-align: center;
  }

  .features-item:nth-child(even) {
    justify-self: start;
  }

  .features-item:nth-child(odd) {
    justify-self: end;
  }

  .cta-container {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .cta-form-btn {
    margin-top: 2rem;
    width: 100%;
  }
}

@media (max-width: 47em) {
  .heading {
    font-size: 4rem;
  }

  .heading-tertiary {
    margin-bottom: 1.6rem;
  }

  .button-mobile-nav {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(253, 242, 233, 1);
    transform: translate(100%, 0);
    transition: all 300ms;
  }

  .nav-open .main-nav {
    display: flex;
    transform: translate(0, 0);
  }

  .nav-list {
    flex-direction: column;
    gap: 6.4rem;
  }

  .nav-link,
  .nav-link-cta {
    font-size: 3rem;
  }

  .app-item {
    gap: 3.4rem;
  }

  .app-number {
    font-size: 7.4rem;
  }

  .meals {
    grid-template-columns: 1fr 1fr;
    row-gap: 6.4rem;
    column-gap: 6.4rem;
  }

  .diets {
    grid-column: 1/-1;
    text-align: center;
  }

  .diets-list {
    flex-direction: row;

    justify-content: center;
    flex-wrap: wrap;
    column-gap: 3rem;
  }

  .diets-item {
    gap: 1rem;
  }

  .pricing-container {
    gap: 4rem;
  }

  .pricing-plan {
    width: 85%;
  }

  .plan-text {
    font-size: 1.8rem;
  }

  .plan-details {
    margin-bottom: 8rem;
  }
  .footer-container {
    grid-template-columns: repeat(6, 1fr);
    row-gap: 8rem;
  }

  .footer-logo-container,
  .footer-address {
    grid-row: 2 / 3;
    grid-column: span 3;
  }

  .footer-nav {
    grid-column: span 2;
  }
}

@media (max-width: 36rem) {
  .grid--two-columns,
  .grid--three-columns,
  .grid--four-columns,
  .grid--five-columns {
    grid-template-columns: 1fr;
  }

  .container {
    padding: 0 2.4rem;
  }

  .btn-container {
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
  }

  .customers {
    flex-direction: column;
  }

  .featured-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.4rem;
  }

  .app-item,
  .app-item:nth-child(even) {
    flex-direction: column;
    justify-content: center;
  }

  .app-text-content {
    width: 85%;
  }

  .app-image-box {
    width: 70%;
  }

  .meal {
    max-width: 40rem;
    justify-self: center;
  }

  .testimonial {
    max-width: 40rem;
    justify-self: center;
  }

  .gallery-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .pricing-plan {
    justify-self: center;
    max-width: 40rem;
  }

  .features-item:nth-child(even),
  .features-item:nth-child(odd) {
    justify-self: center;
    max-width: 40rem;
  }

  .cta-container {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 1.6rem 3.2rem;
  }

  .cta-image-box {
    grid-row: 1 / 2;
    height: 32rem;
  }

  .footer-address,
  .footer-logo-container {
    grid-column: 1 / -1;
  }

  .footer-address {
    text-align: center;
  }

  .footer-logo-container {
    grid-row: 3/4;
    align-items: center;
  }
}
